.home-container {
    background-color: #C2D9E1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    /* margin-top: -70px; */
}

.home-container > h1 {
    color: red;
    font-size: 100px;
    margin-top: 0px;

}

.home-container > p {
    margin-top: 8px;
    color:yellow;
    font-size: 32px;

}

.home-btns {
    margin-top: 32px;
}

@media screen and (max-width:960px) {
    .home-container > h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .home-container > h1 {
        font-size: 60px;
    }
    .home-container > p {
        font-size: 30px;
    }
}