.contact-container{
    background-color: #AE8A8C;
    height: 75vh;
    width: 100%;
}

.contact-info{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    /* background-color: red; */
    padding-top: 75px;
}

.contact-info > h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 60;
    font-size: 75px;
    /* margin-top: 65px; */
}

.contact-card{
    width:100%;
    background-color: #f9f3e5;
    border-radius: 10px;
}

hr{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    color: #ab6445;
}

.contact-info-component{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    color: #ab6445;
    font-size: 25px;
    padding-top: 45px;
    padding-bottom: 65px;
    /* background-color: cadetblue; */
}
.react-icons{
    margin-left: 4rem;
    margin-right: 0;
}
.contacts{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 3rem;
    /* margin: 0 auto; */
}

.contacts > p {
    margin: auto;
    margin-left: 0;
}