.page-exp{
    width: 100%;
    background-color: #c2d9e1;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.page-exp-l{
    width: 25%;
    background-color: grey;
    height: 80vh;
}

.page-exp-r{
    width:75%;
}

.page-exp-r-cont{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 60px;
}


.exp-header-text{
    max-width: 800px;
    margin: 0 auto 4rem auto;
    color: white;
    border-bottom: 0.2rem solid white;
    font-size: 63px;
    font-weight: bolder;
    text-align: center;
}

.exp-flex{
    display: flex;
    flex-direction: row;
    width:90%;
    margin: 0 auto;
    max-width: 1296px;
}

.exp-left{
    max-width: 650px;
    width: 100%;
    background-color: #FAF8F6;
    height: 250px;
    border-radius: 4px;
    margin-right: 45px;
}
.exp-right{
    max-width: 650px;
    width: 100%;
    background-color: #FAF8F6;
    height: 250px;
    border-radius: 4px;
    margin-left: 45px;
}