.exp-container-container{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.experience-container{
    background-color: #c2d9e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 65%;

}

.picture-container{
    height: 100vh;
    width: 35%;
    background-color: #c4c4c4;
    display: flex;

}

.word-container{
    height: 15%;
    width: 100%;
    /* background-color: white; */
    text-align: center;
}

.word-container > h1{
    margin-top: 2%;
    font-size: 90px;
    color: white;
}


.list-of-experiences{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    /* background-color: red; */
}

.experience{
    width: 100%;
    height: 10rem;
    background-color: #c4c4c4;
    border-radius: 12px;
    /* border-style: solid;
    border-color: red; */
}


.experience-grid{
    display: grid;
    row-gap: 2rem;
    grid-template-columns: auto;
    width: 80%;
    /* height: 80%; */
    /* background-color: pink; */
    /* justify-content: center; */
    align-content: center;
}