.page-exp{
    width: 100%;
    background-color: #c2d9e1;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.page-exp-l{
    width: 25%;
    background-color: grey;
    /* height: fit-content; */
}

.page-exp-r{
    width:75%;
    height: fit-content;
}

.page-exp-r-cont{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.exp-header-text{
    max-width: 800px;
    margin: 0 auto 4rem auto;
    color: white;
    border-bottom: 0.2rem solid white;
    font-size: 63px;
    font-weight: bolder;
    text-align: center;
}

.flex{
    display: flex;
    width: 100%;
}

.flex-bottom{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.row-page3-top{
    display: flex;
    /* padding-top: 50px; */
}

.center-small{
    width: 100%;
    margin: auto 70px;
}

.row-display{
    display: flex;
    width: 100%;
    height: fit-content;
}

.exp-card {
    flex: 1;
    margin: 0;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-sing{
    margin-bottom: 30px;
    width: 100%;
}


.exp-button{
    /* display: block; */
    padding: 1rem 1rem;
    border-radius: 3px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.exp-button-show-all{
    font-size: 2rem;
    background-color: #7498ab;
}

