<!-- Page 3 (professional employement) -->
    <div id="sec5" class="page-3">
        <div class="outer-margin margin-top center-text">
            <h2 class="page-header-ghost-page3">04</h2>
            <h1 class="page-header">Professional Experience</h1>
        </div>
        <div class="flex">
            <div class="row-page3-top center-small">
                <div class="row-display">
                    <div class="card column-page2-l card-l">
                        <div>
                            <h1 class="card-title chain-same-line">[Private] (New Startup)<a class="hover-link"
                                    target="_blank" href="mailto:me@matthewtrent.me"><i
                                        class="fas fa-envelope-open chain-icon"></i>
                                </a></h1>
                            <h1 class="card-sub">March 2022 - Current • Email
                                for Info</h1>
                            <h1 class="card-desc">[Private] is a fullstack application that's like a blend of Reddit and
                                Twitter - perhaps with a dash of Tinder on top. It's targeted towards a very specific
                                audience/niche. Currently, the developer team is small but skillful. If you have
                                expertise in this stack, let's talk.</h1>
                        </div>
                        <div class="portion-bottom">
                            <h1 class="tag tag-item">Flutter</h1>
                            <h1 class="tag tag-item">Dart</h1>
                            <h1 class="tag tag-item">Rust</h1>
                            <h1 class="tag tag-item">Figma</h1>
                            <h1 class="tag tag-item">MongoDB</h1>
                            <h1 class="tag tag-item">Stack Subject to Change</h1>
                        </div>
                    </div>

                    <div class="card column-page2-r card-r">
                        <div>
                            <h1 class="card-title chain-same-line">Stend (New Startup) <a class="hover-link"
                                    target="_blank" href="mailto:matthew@stend.tech"><i
                                        class="fas fa-envelope-open chain-icon"></i>
                                </a></h1>
                            <h1 class="card-sub">December 2021 - October 2022 • Email
                                for Info</h1>
                                <h1 class="card-sub-i">(from October 2022 going forward, I'm an advisor)</h1>
                            <h1 class="card-desc">As the frontend lead on the Stend team, I was responsible for
                                critical frontend development and management in the creation of our team's
                                cross-platform
                                application that
                                curates demographic-based reviews
                                for businesses and users. As of recently, I've taken an advisor role, stepping back from active development.</h1>
                        </div>
                        <div class="portion-bottom">
                            <h1 class="tag tag-item">Flutter</h1>
                            <h1 class="tag tag-item">Figma</h1>
                            <h1 class="tag tag-item">Dart</h1>
                            <h1 class="tag tag-item">C++</h1>
                            <h1 class="tag tag-item">Drogon</h1>
                            <h1 class="tag tag-item">Stack Subject to Change</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row-page3 center-small">
                <div class="row-display margin-bottom">
                    <div class="card column-page2-r card-single">
                        <div>
                            <h1 class="card-title chain-same-line">Vanbelle Nursery <a class="hover-link"
                                    target="_blank" href="mailto:me@matthewtrent.me"><i
                                        class="fas fa-envelope-open chain-icon"></i>
                                </a></h1>
                            <h1 class="card-sub">Summer 2020 • Email
                                for Info</h1>
                            <h1 class="card-desc">I developed a cross-platform application that demonstrates various use
                                cases in
                                which Flutter can be integrated into Plantago’s internal software.</h1>
                        </div>
                        <div class="portion-bottom">
                            <h1 class="tag tag-item">Flutter</h1>
                            <h1 class="tag tag-item">Dart</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>