@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


.NavbarItems{
    position: fixed;
    /* width: 100%; */
    background: #c3b8aa;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 4000;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1em;
}

.nav-links:hover{
    background-color: #D5CDC4;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}