@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}


.navbar{
    position: fixed;
    width: 100%;
    background: #c3b8aa;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 0 rgba(0,0,0.4);
    height: 7vh;
    z-index: 10;
}


.navbar-list{
    display: flex;
    margin-right: 2rem;

}

.navbar-list a{
    display: block;
    font-size: 1.5rem;
    /* padding: 2rem; */
    padding: 1rem 2rem 1rem 2rem;
}

.navbar-list a:hover{
    background-color: #D5CDC4;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: end;
    margin-right: 2rem;
} 

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1em;
}

.nav-links:hover{
    background-color: #D5CDC4;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}