.projects-container {
    background-color: #7498ab;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

.projects-grid{
    display: grid;
    gap: 2rem 2rem;
    grid-template-columns: auto auto auto;
    padding: 2em;
    background-color: aquamarine;
    width: 90vw;
    height: 85vh;
    margin-bottom: 10px;
}

.project-items{
    display: flex;
    flex-direction: column;
    background-color: #303842;
    padding: 10px;
    text-align: center;
    font-size: 4em;
    /* border: 5px dotted red; */
    /* width: 5vw; */
}

.item-image{
    background-color: grey;
    width: 100%;
    height: 75%;
    /* text-align */
}

.item-btm{
    font: 100;
}

@media screen and (max-width:960px) {
    .projects-container > h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .projects-container > h1 {
        font-size: 60px;
    }
    .projects-container > p {
        font-size: 30px;
    }
}