.section-heading{
    max-width: 640px;
    margin: 0 auto 4rem auto;
    color: white;
    border-bottom: 0.2rem solid white;
    font-size: 60px;
    font-weight: bolder;
}

.projects-container {
    background-color: #7498ab;
    text-align: center;
    padding: 10rem 2rem;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}




.project-items{
    /* right: 0; */
    margin: 0 0 15px;
    /* background-color: red; */
}

.project-link{
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: -4px;
    max-width: 400px;
}

.project-caption{
    display: block;
    /* position: relative; */
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
}

.project-caption h4{
    font-size: 16px;
}
.project-caption p {
    font-size: 16px;
}

.text-muted{
    color: red;
}

.img-responsive{
    max-width: 400px;
}