.projects-container {
    background-color: #7498ab;
    /* height: 90vh; */
    /* width: 100%; */
    /* justify-content: center; */
    text-align: center;
    padding: 10rem 2rem;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    background-color: aquamarine;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* .projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    background-color: red;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
} */




.project-items{
    right: 0;
    margin: 0 0 15px;
}

.project-items .project-link{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.project-items .project-caption{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
}

.project-caption h4{
    font-size: 16px;
}
.project-caption p {
    font-size: 16px;
}

.text-muted{
    color: red;
}

.img-responsive{
    max-width: 400px;
}