.skills-container{
    background-color: #A87550;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.skills-container-container{
    max-width: 1280px;
}

.skills-heading{
    max-width: 640px;
    margin: 0 auto 4rem auto;
    color: white;
    border-bottom: 0.2rem solid white;
    font-size: 60px;
    font-weight: bolder;
}


.skills-page{
    background-color: #a87550;
    text-align: center;
    padding: 5rem 3rem;
    width: 100%;
}

.skill-container{
    /* max-width: 1440px; */
}

.skill-top{
    width: 100%;
    background-color: red;
    height: 20px;
    margin-bottom: 10px;

}

.skill-btm{
    width: 100%;
    background-color: yellow;
    height: 30px;
    margin: 0 auto;
}