.skills-page{
    background-color: #a87550;
    text-align: center;
    padding: 3rem 4rem;
    width: 100%;
}
.skills-heading{
    max-width: 550px;
    margin: 0 auto 5rem auto;
    color: white;
    border-bottom: 0.2rem solid white;
    font-size: 35px;
    font-weight: bolder;
}

.skill-container{
    display: flex;
    flex-direction: row;
    /* margin-bottom: 20px; */
}


.skills-legend{
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    font-size: 25px;
}


.skill-left{
    width: 100%;
    flex: 1;
}

.skill-right{
    width: 100%;
    background-color: yellow;
    flex: 2;
    padding: 0.7rem;
}

.skills-chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0.7rem; */
    /* background-color: red; */
    max-height: 1080px;
    height: 100%;
}

.skill{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.skill-bar{
    display:inline-block;
    margin-left: 20px;
}


.yes{
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: red;
    /* margin-top: 20px; */
    margin-right: 20px;
}

.no{
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: blue;
    /* margin-top: 20px; */
    margin-right: 20px;
}