.skills-container{
    background-color: #A87550;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.skills-container > h1{
    font-size: 90px;
    color: white;
    /* margin-top: 5rem; */

}

.proficient-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.skill{
    background-color: #303842;
    box-shadow: 2px 2px 10px 1px #303842;
    border-radius: 1rem;
    font-size: 30px;
    color: white;
}

.skill-image-placeholder{
    width: 100%;
    /* height: 90%; */
    height: calc(100%-6.8rem);
    object-fit: scale-down;
    border-radius: 1rem;
}