.skills-page{
    background-color: #a87550;
    text-align: center;
    padding: 3rem 4rem;
    width: 100%;
}
.skills-heading{
    max-width: 550px;
    margin: 0 auto 5rem auto;
    color: whitesmoke;
    border-bottom: 0.2rem solid whitesmoke;
    font-size: 35px;
    font-weight: bolder;
}

.skill-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.skills-legend{
    text-align: left;
    margin: 0 auto;
    color: #a87550;
    font-size: 25px;
}


.skill-left{
    flex: 1;
    background-color: #f9f3e5;
    border-radius: 10px;
    padding: 15px;
}

.skills-chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 1080px;
    height: 100%;
}


.yes{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #34542b;
    margin-right: 12px;
}

.no{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #83b8a1;
    margin-right: 12px;
}

.skill-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.skill-item > span{
    width: 120px;
    font-size: 35px;
    font-weight: bolder;
    color: #a87550;
}


.skill-item-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}





.page-exp{
    width: 100%;
    background-color: #c2d9e1;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.page-exp-l{
    width: 25%;
    background-color: grey;
}

.page-exp-r{
    width:75%;
    height: fit-content;
}


.flex{
    display: flex;
    width: 100%;
}

.row-page3-top{
    display: flex;
}


.row-display{
    display: flex;
    width: 100%;
    height: fit-content;
}

.card {
    flex: 1;
    margin: 0;
    background-color: #f9f3e5;
    border-radius: 4px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-l{
    margin-right: 15px;
    margin-bottom: 30px;
}

.card-r{
    margin-left: 15px;
    margin-bottom: 30px;
}

.card-l-bottom{
    margin-right: 15px;
}

.card-r-bottom{
    margin-left: 15px;
}


.skill-right-container{
    flex: 1.5;
    /* padding: 5px; */
    background-color: #f9f3e5;
    border-radius: 10px;
}