.intro-container{
    /* background-color: red; */
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.24);
}


.intro-container > h1 {
    color: #f0f0f0;
    font-size: 40px;
    margin-top: 0px;
    /* font-weight: bold; */
    border-bottom: 0.2rem solid #f0f0f0;
    margin-bottom: 2vh;
}

.intro-container > p{
    font-size: 30px;
    margin-top: 8px;
    color: #f0f0f0;
}

.intro-container > img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}