.intro-container{
    /* background-color: red; */
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}


.intro-container > h1 {
    color: white;
    font-size: 90px;
    margin-top: 0px;
    /* font-weight: bold; */
}

.intro-container > p{
    font-size: 20px;
    margin-top: 8px;
    color: white;
    text-align: right;
    width: 60%;
}